<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brittolab.icare">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.ProfileList"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.AddProfile"
            android:label="@string/title_activity_add_profile" />
        <activity android:name=".Activity.DashBoard"
            android:label="Dash Board"/>
        <activity android:name=".Activity.DietChart"
            android:label="Diet Chart"/>
        <activity android:name=".Activity.AddDiet"
            android:label="Add diet"/>
    </application>

</manifest>
